<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="Ecommerce.TestComponent.Listeners"/>
    </listeners>

<!--    <test thread-count="5" preserve-order="true" name="failedCase">-->
<!--        <classes>-->
<!--            <class name="Ecommerce.FailedCaseTest">-->
<!--                <methods>-->
<!--                    <include name="ecommerceLoginCheck"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test thread-count="5" preserve-order="true" name="Login">-->
<!--        <classes>-->
<!--            <class name="Ecommerce.LoginTest">-->
<!--                <methods>-->
<!--                    <include name="ecommerceE2E"/>-->
<!--                    <include name="verifyOrderHistory"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

    <!-- ✅ New Cucumber Runner Test -->
    <test thread-count="1" preserve-order="true" name="Cucumber E2E">
        <classes>
            <class name="Cucumber.TestNGTestCucumberRunner"/>
        </classes>
    </test>

</suite>
